@import url('https://fonts.googleapis.com/css2?family=Mukta&family=Roboto:ital@0;1&display=swap');

.Background_Parent {
  opacity: 0;
  transition: 1s ease;
}

.Background {
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  position: relative;
  font-family: 'Roboto';
  overflow: hidden;
}
